<configuration>
  <appSettings>

    <add key="Method" 
		 value="1"
	 />  
    <add key="NumberofIterationsSmall" value="1000"/>	
	<add key="NumberofIterationsBaseline" value="100000"/>	
	<add key="NumberofIterations" value="100000"/>		
	<add key="DBServer" value="LABDB"/>
	<add key="DBInitialCatalog"   value="DBLab"/>

	<add key="ApplicationName"    value="SQLServerLockingAndConcurrency"/>
	
	<!--
		public enum TransactionIsolationLiteral
		{
			  ReadCommitted = IsolationLevel.ReadCommitted
			, ReadUncommitted = IsolationLevel.ReadUncommitted
			, RepeatableRead = IsolationLevel.RepeatableRead
			, Serializable = IsolationLevel.Serializable
		}
	-->

	<add key="TransactionIsolation"    value="ReadCommitted"/>
	
  </appSettings>
  
</configuration>
