<configuration>
  <appSettings>

    <add key="Method" 
		 value="1"
	 />  
    <add key="NumberofIterationsSmall" value="1000"/>	
	<add key="NumberofIterationsBaseline" value="100000"/>	
	<add key="NumberofIterations" value="100000"/>		
	<add key="DBServer" value="LABDB"/>
	<add key="DBInitialCatalog"   value="DBLab"/>
	
  </appSettings>
  
</configuration>
